<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me ensina</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Cursos</h1>
        <nav>
            <a href="#">Início</a>
            <a href="/cadastrar">Cadastre-se</a>
            <a href="/cursos">Cursos</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>
    <main>
        <section id="principal">
            <button>

            </button>
        </section>
    </main>
</body>

</body>
</html>