<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me ensina</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Me ensina</h1>
        <nav>
            <a href="#">Início</a>
            <a href="/cadastrar">Cadastre-se</a>
            <a href="/cursos">Cursos</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>
    <main>
        <section id="principal">
            <div id="left">
                <p>O me ensina é a nova plataforma de ensino gratuita, cursos rápidos e práticos e até acadêmicos, com o
                    melhores professores e o apoio que você precisa pra ser aprovado sem dificuldade!</p>
                <button>Conheça os cursos</button>
            </div>
            <div id="right">
                <img id="main-img" src="/img/Math Teacher Illustration.svg" alt="">
            </div>
        </section>
        <div id="extra">
            <div class="extra-sec">
                <img class="main-icon" src="/img/Math.svg" alt="Avaliações">
                <p>Seja avaliado pelos professores que acompanha</p>
            </div>
            <div class="extra-sec">
                <img class="main-icon" src="/img/Biblioteca.svg" alt="Biblioteca">
                <p>Acesso aos conteúdos por até 3 anos</p>
            </div>
            <div class="extra-sec">
                <img class="main-icon" src="/img/Online.svg" alt="Computador">
                <p>Faça no seu tempo, aonde estiver</p>
            </div>
        </div>
    </main>
</body>

</html>